* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav>ul>li:hover>a>i,
#nav .subnav li:hover,
#nav>ul>li:hover>a {
    color: #000;
    background-color: #555;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav ul li {
    display: block;
    min-width: 150px;
}

#nav>ul>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav ul {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav i {
    color: #fff;
    width: 20px;
}

#header .icon-search {
    display: block;
    float: right;
    line-height: 46px;
    padding: 0 23px;
}

#header .icon-search:hover {
    cursor: pointer;
    background-color: #f44336;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(/w3_band/assets/img/ny.jpg) top center / cover no-repeat;
    position: relative;
}

.silder-content {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding-bottom: 32px;
    text-align: center;
    width: 100%;
}

.silder-heading {
    font-weight: 500;
}

.silder-discreption {
    margin-top: 25px;
}

#content {}

#content .content-selection {
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#content .content-selection .text-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .content-selection .text-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.6;
    font-style: italic;
}

#content .content-selection .text-content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .content-selection .team-selection {
    padding-top: 47px;
    padding-bottom: 32px;
    justify-items: space-between;
}

#content .team-selection .sub-selection {
    display: inline-block;
    text-align: center;
}

#content .sub-selection p {
    margin: 15px 0;
}



#content .team-selection .img-selection {
    width: 60%;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* tour content  */


#content .content-tour {
    height: 850px;
    background-color: #000;
    color: #fff;
}

#content .content-tour .tour-body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content .content-tour .tour-text {
    background-color: #FFF;
    display: block;
    color: #000;
}

#content .tour-text>li {
    height: 22, 5px;
    padding: 8px 16px;
    list-style: none;
}

#content .tour-text>li:first-child {
    border-bottom: 1px solid #999;
}

#content .tour-text>li:last-child {
    border-top: 1px solid #999;
}

#content .tour-text span {
    /* border-radius: 4px; */
    display: inline-block;
    background-color: red;
    padding: 4px;
    margin-left: 4px;
    color: #fff;
}

#content .tour-text .number {
    /* margin-left: 50px; */
    background-color: black;
    float: right;
    border-radius: 50%;
    margin-top: -3px;
}

#content .tour-list {
    padding: 32px 0;
    right: 0;
    left: 0;
    margin: 0 -8px;
    position: relative;
}

#content .tourimg-selection {
    width: 33.33333%;
    float: left;
    padding: 0 8px;
    justify-content: space-between;
}

#content .tourimg-selection .container {
    /* text-align: center; */
    background-color: #fff;
    color: #000;
    height: 204px;
    padding-left: 16px;
    font-size: 15px;
    line-height: 1.5;
    margin-top: -4px;
    margin-bottom: 15px;
}



#content .tourimg-selection .container>p {
    padding-top: 15px;
}

#content .tourimg-selection .container button {
    color: #fff;
    background-color: #000;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
}

#content .container button:hover {
    background-color: #ccc;
    color: #000;
}

#content .tourimg-selection img {
    width: 100%;
    background-image: cover;
}

/* contact content */


#content .contact-content {
    padding: 45px 0;
}

#content .contact {
    padding-top: 47px;
    padding-bottom: 32px;
}

#content .contact .contact-left {
    width: 49%;
    display: inline-block;
    font-size: 18px;
}

#content .contact .contact-left i {
    display: inline-block;
    font-size: inherit;
    width: 30px;
    line-height: 1.5;
}

#content .contact .contact-right {
    width: 49%;
    /* display: inline-block; */
    float: right;
}


.contact .contact-right form {
    width: 400px;
    position: relative;
    display: inline-block
}

.contact .contact-right form .account {
    margin-bottom: 10px;
}

.contact .contact-right .account input {
    padding: 8px;
    margin-right: 16px;
}

.contact .contact-right form .mes {
    width: 95.7%;
    padding: 8px;
}

.contact .contact-right form button {
    /* position: absolute; */
    margin: 16px 0;
    padding: 8px 16px;
    margin-left: 309px;
    background-color: black;
    color: #fff;
}

.contact .contact-right form button:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
    border: none;
}

/* image of location/map */

.banner-image img {
    width: 100%;
    filter: grayscale(50%);
}

#content {}


#footer {
    padding: 64px 16px;
    text-align: center;
    justify-content: center;
    opacity: 0.6;
}

#footer p {
    margin: 30px 0;
    display: block;
    font-size: 15px;
}

#footer i {
    font-size: 25px;

    display: inline-block;
    text-rendering: auto;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-container {
    width: 900px;
    /* height: 400px; */
    background-color: #FFF;
    margin: 0 auto;
    transform: translateY(20%);
    position: relative;
    box-shadow: 0 0 10px #4c4646;
}

.modal .modal-container .modal-close {
    position: absolute;
    right: 0;
    padding: 16px;
}

.modal .modal-container .modal-close:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

.modal header {
    width: 900px;
    padding: 42px 16px;
    background-color: #009688;
    font-size: 25px;
    color: #FFF;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
}

.modal .modal-body {
    width: 100%;
    padding: 0 16px;
}

.modal .modal-body .modal-lable {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.5;
}

.modal .modal-body .input-lable {
    width: 100%;
    padding: 8px;
}

.modal .modal-body .modal-button {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #009688;
    color: #FFF;
    border: none;
}

.modal .modal-body .modal-button:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal .modal_button-close {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: #f44336;
    border: none;
    color: #FFF;
    font-size: 16px;
}

.modal .modal_button-close:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal .modal-needhelp {
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 15px;
}

.modal .modal-needhelp a {
    color: blue;
}